.icon-box {
    width: 50px;
    height: 50px;
    background-color: #06BBCC;
    font-size: 17px;
    color: #fff;
}

.contact-item h5 {
    color: #06BBCC;
    font-weight: 600;
}

.contact-item p {
    color: #52565B;
}

.contact input {
    padding: 16px 12px;
}

.contact .btn-info {
    background-color: #06BBCC;
    padding: 15px 12px;
}

.contact .btn-info:hover {
    background-color: #2bc5d4;
}

.map-frame {
    min-height: 400px; /* Adjust height as needed */
}